# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.vscode
dist

# Database files
server/database/*.sqlite
server/database/*.sqlite-shm
server/database/*.sqlite-wal

# Docker
docker-compose.override.yml

# Node dependencies
node_modules

# Extended layers (downloaded by c12/giget)
.layers

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
/public/uploads/
/data/tmp/
/data/bibles/
wip
/scripts/
/.nuxtrc
context
